body{

  background-image: url(https://static.decalgirl.com/assets/designs/large/wht-marble.jpg)
}
#div1{
    background-color: #95fff2;
    text-align: center;
    color: white;
}

#div2{
  background: white;
}
S=
/* unvisited link */
a:link {
   color: grey;
   text-align: center;
   text-decoration: none;
}

/* mouse over link */
a:hover {
   color: black;
}
li,p{
  color: white;
  text-align: left;
}
